<div class="container">

  <div class="row">
  <h3 class="todo_list_title">Journal</h3>
  
    <div class="col-md-8">

      <div class="row">
        <% @journals.each do |journal| %>
          <div class="col-md-6">
            <div class="card mt-3">
              <div class="card-body">
              <h4><%= link_to journal.title, journal_path(journal.id), class: 'link-dark' %></h4> <br>
              <%= link_to "View", journal_path(journal.id), class: "btn btn-dark" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
      
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="card-header">
          Categories
        </div>
        <div class="card-body">
          <ul class="list-group cat-list">
            <% @categories.each do |category| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= link_to category.category, journals_path(:cat => category.id), class: 'link-dark' %>
              <%# <span class="badge bg-dark rounded-pill"><%= category.journals.count </span> %>
              <% end %>
            </li>
            <li>
              <%= link_to "Add category", new_category_path, class: "nav-link add-new-cat link-dark" %>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
<div class="links">
<%= link_to "Add entry", new_journal_path %>
</div>
</div>
