<!DOCTYPE html>
<html>
  <head>
    <title>JournalRor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' 
%>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <img src="assets/noun-polar-bear-2.svg" alt="" width="50" height="44" class="d-inline-block align-text-top">
        <a class="navbar-brand" href="#"><%= link_to "Polar", journals_path, class: 'navbar-brand' %></a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to "Add entry", new_journal_path, class: "nav-link" %>
            </li>
          </div>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
